html {
      scrollbar-color: #000000 transparent;
      height: 100vh;
    }

    * {
      box-sizing: border-box;
    }

    ::selection {
      color: #ffffff;
      background: rgba(87, 0, 0, 0.7);
    }

    body {

      font-family: Aref Ruqaa;
      background-image: linear-gradient(to right, #16060a), url('/blog/bg.webp');
      background-blend-mode: hard-light;
      background-size: contain;
    }

    .container {
      width: 800px;
      margin: 0 auto;
      margin-top: 50px;
      padding: 1px;
      display: flex;
      gap: 5px;
      animation: fade 0.4s ease;
      height: 800px;
    }

    @keyframes fade {
      from {
        opacity: 0;
      }

      to {
        opacity: 1;
      }
    }

    .left {
      width: 25%;
    }

    .pfp {
      width: 90%;
      margin: 0 auto;
      display: block;
      margin-bottom: 10px;
      outline: #2e1313 1px solid;
      outline-offset: 2px;
      float: right;
      display: inline-block;
    }

    .month {
      display: block;
      font-size: 13px;
      font-weight: bold;
      margin: 5px 0;
      background-color: #2b0c0c;
      padding: 0px 3px 2px;
      border-left: 3px solid #763737;
      font-style: italic;
      color: #bb9e8e;
      display: inline-block;
      width: 100%;
    }

    .right {
      width: 70%;

    }

    .left button {
      width: 90%;
      font-family: Aref Ruqaa;
      border-radius: 0;
      border: 1px solid #251717;
      background-color: #190c0c;
      padding-bottom: 5px;
      margin-bottom: 5px;
      margin-left: auto;

    }

    .left button span {
      color: #b4a7a7;
    }

    .left button:hover {
      font-style: italic;
      cursor: pointer;
      border: 1px solid #3e2626;
      background-color: #271212;
    }

    .buttons {

      display: flex;
      justify-content: flex-end;
      flex-direction: column;
    }

    .entry {
      display: none;
      animation: fade 0.4s ease;
      margin-bottom: 55px;
      height: 100%;
      overflow: auto;
    }

    .entry.active {
      display: block;
      padding: 0px 5px 5px 5px;
      color: #ffd7cb;
      padding: 1px;
    }

    P {
      margin: 0px;
      padding-left: 5px;
    }

    .btn.active {
      border: 1px solid #3e2626;
      background-color: #271212;
    }

    h1 {
      width: 100%;
      ;
      font-family: tangerine;
      overflow: hidden;
      background: linear-gradient(90deg, rgb(80, 0, 0) 0%, rgba(0, 0, 0, 0.89) 100%);
      color: #000000;
      border-top: 1px solid #000000;
      border-bottom: 1px solid #470000;
      border-left: 3px solid #7b0e0e;
      margin: 0;
      padding: 5px 0px 0px 5px;
      font-size: 2.8em;
      position: sticky;
      top: -1px;
      text-shadow: 0.03em 0.03em 0 #9e2222, -0.03em -0.03em 0 #9e2222, 0.03em -0.03em 0 #9e2222, -0.03em 0.03em 0 #9e2222, 0 0.03em 0 #9e2222, 0.03em 0 0 #9e2222, 0 -0.03em 0 #9e2222, -0.03em 0 0 #9e2222;
    }

    a {
      color: #b80000;
      float: right;
    }

    a:hover {
      font-style: italic;
      color: #ff4444;
    }
