html {
    scrollbar-color: #5a3d14 #d1b785;
}
body {
    background: url(/blog/bg.webp);
    background-size: 100% 101%;
}

.container {
    width: 800px;
    height: 860px;
    margin-top: 15px;
    margin-left: 5em;
    border: 1px solid rgb(87, 64, 26);
    padding: 10px;
    background-color: rgba(255, 233, 183, 0.8);
    box-shadow: 0 0 15px rgba(255, 214, 147, 0.5);
}
.inner {
    background: url(/blog/inner.webp);
    border: 1px dashed #3e2e13;
    padding: 15px;
    position: relative;
    overflow: auto;
    height: 96%;
}

p {
    margin: 5px;
}
.wrap {
    width: 98%;
    height: 35%;
    margin-left: 10px;
    background: linear-gradient(to bottom, rgb(147, 129, 114) 0%, rgb(123, 100, 81) 100%);
    border: 1px solid #62533b;
    margin-bottom: 15px;
    font-size: 17px;
}
.date {
    margin: 5px;
    background: #52493c;
    padding: 5px;
    color: white;
}
b {
    font-weight: normal;
    color: #f4c788;
    float: right;
}
span {
    color: black;
}
.wrap p {
    padding: 5px;
    background-color: #ffe9cf;
    height: 80%;
    border: dashed 1px #937052;
    color: #674e25;
    overflow: auto;
}
