@font-face {
                font-family: Willow;
                src: url(https://file.garden/Zj1sfPoh-G9Y8BHe/willow.ttf);
            }
body {
    background: url(https://sugarfantasies.neocities.org/index/chattable.webp);

                font-family:"Willow", "Elms Sans";}
}

.allMessages {
    font-size: 15px;
    margin: 5px;
    display: inline-block;
    clear: both;
    max-width: 70%;
    margin-bottom: 15px;
}
.allMessages > p {
    animation-name: hue;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.msgWrapper {
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    width: 100%;
    align-items: center;
    margin-bottom:10px;
}
.msgWrapper:has(.received) {
    justify-content: flex-start;
}
.msgWrapper:has(.sent) {
    justify-content: flex-end;
}
.sent {
  animation-direction: alternate-reverse;
  background: #ffe0ef;
  border: 1px solid #ffbade;
  border-radius: 10px 0px 10px 10px;
  padding: 6px 12px;
  box-shadow: inset 1px 2px 0px rgba(255, 255, 255, 0.7), inset -1px -2px 2px rgba(215, 127, 171, 0.1), 0 2px 4px rgba(215, 127, 171, 0.05);}

.recieved {  animation-direction: alternate-reverse;
  background: #fffae0;
  border: 1px solid #ffe7ba;
  border-radius: 0px 10px 10px 10px;
  padding: 6px 12px;
  box-shadow: inset 1px 2px 0px rgba(255, 255, 255, 0.7), inset -1px -2px 2px rgba(215, 181, 127, 0.1), 0 2px 4px rgba(215, 185, 127, 0.05);}
.sent + #timestamp {
    text-align: right !important;
}
.recieved + #timestamp {
    text-align: left !important;
}
.senderInfo {
    font-weight: bold;
}
.role {
    display: none;
}
#background {
    display: block;
    padding: 5px;
}
#input {
    background-color: #fff;
    border-radius: 0;
    border-top: 1px solid black;
}
#input:empty::before {
    content: "Say Something!";
    color: #cebcbc;
}
#timestamp {
    display: block;
    clear: both;
    font-size: 10pt;
    color: white;
    font-family: arial;
    padding: 0 15px 0 15px;
    width: calc(100% - 30px);
}
#top_banner {
    display: none;
}
.pinned {
    position: static;
}
.pinned:after {
    display: none;
}
#is_typing {
    padding: 0 4px;
    padding-top: 2px;
    width: auto;
    height: auto;
    background: #BAB88D;
    top: -30px;
    position: absolute;
    bottom: initial;
}

#is_typing::before {
    content:'.';
    font-size: initial;
    font-weight: normal;
    color: #BA8D8F;
}

#is_typing > span {
    position: relative;
    top: 4px;
    width: 3px;
    height: 3px;
    border-radius: 0;
    background-color: #BA8D8F;
}

#emojiTray img {
    height: 20pt;
}
