body {
    background: url(https://sugarfantasies.neocities.org/index/cbox.webp);
    background-position: right;
    font-family: Times;
}

.allMessages {
    font-size: 15px;
    margin: 5px;
    display: inline-block;
    clear: both;
    max-width: 70%;
    margin-bottom: 15px;
}
.allMessages > p {
    animation-name: hue;
    animation-duration: 5s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
}
.msgWrapper {
    display: flex;
    flex-wrap: wrap;
    word-break: break-word;
    width: 100%;
    align-items: center;
}
.msgWrapper:has(.received) {
    justify-content: flex-start;
}
.msgWrapper:has(.sent) {
    justify-content: flex-end;
}
.sent {
    float: right;
    border-radius: 5px;
    background-color: #c7a785;
    color: #5b1f1f;
    box-shadow: -1px 1px 3px #c4b5b5;
    animation-direction: alternate-reverse;
}
.sent::before {
    content: " ";
    background-color: inherit;
    height: 10px;
    width: 10px;
    position: absolute;
    right: 2px;
    top: 3px;
    transform: rotateZ(-30deg) scale(1.5, 0.5) rotateZ(45deg);
}
.recieved {
    float: left;
    border-radius: 8px;
    background-color: #85a5c7;
    color: #4a3e32;
    box-shadow: -1px 1px 3px white;
}
.sent + #timestamp {
    text-align: right !important;
}
.recieved + #timestamp {
    text-align: left !important;
}
.senderInfo {
    font-weight: bold;
}
.role {
    display: none;
}
#background {
    display: block;
    padding: 5px;
}
#input {
    background-color: #fff;
    border-radius: 0;
    border-top: 1px solid black;
}
#input:empty::before {
    content: "Say Something!";
    color: #cebcbc;
}
#timestamp {
    display: block;
    clear: both;
    font-size: 10pt;
    color: white;
    font-family: arial;
    padding: 0 15px 0 15px;
    width: calc(100% - 30px);
}
#top_banner {
    display: none;
}
.pinned {
    position: static;
}
.pinned:after {
    display: none;
}
#is_typing {
    padding: 0 4px;
    padding-top: 2px;
    width: auto;
    height: auto;
    background: #BAB88D;
    top: -30px;
    position: absolute;
    bottom: initial;
}

#is_typing::before {
    content:'.';
    font-size: initial;
    font-weight: normal;
    color: #BA8D8F;
}

#is_typing > span {
    position: relative;
    top: 4px;
    width: 3px;
    height: 3px;
    border-radius: 0;
    background-color: #BA8D8F;
}

#emojiTray img {
    height: 20pt;
}
#emojiTray img:hover {
    height: 22pt;
}
#save {
    background-color: #5d3;
    color: #fff;
    font-size: 12pt;
    padding: 10px;
    border: none;
    border-radius: 1.25em;
}
