        html {
                scrollbar-color: #b9d3d8 #c8e2e2;
            }

            ::selection {
                color: #9d7455;
                background: #ffead3;
            }

            * {
                box-sizing: border-box;
            }

            body {
                background: url(/index/bg.webp);
                font-family: "Elms Sans";
            }

            h1,
            h2 {
                margin: 0;
                font-family: "Kapakana";
            }

            p {
                margin: 0;
            }

            .container {
                display: flex;
                margin: 5px auto;
                width: 900px;
                height: 890px;
                margin-bottom: 70px;
            }

            .left {
                width: 31%;
                padding: 5px;
                border-right: 1px solid rgba(150, 84, 62, 0.55);
                position: relative;
            }

            .left div {
                float: right;
            }

            .right {
                width: 69%;
                padding: 5px;
                position: relative;
            }

            nav {
                position: relative;
            }

            nav h1 {
                text-align: right;
                position: relative;
                margin-top: 30px;
                font-size: 3em;
                color: #564537;
                filter: drop-shadow(1px 1px white) drop-shadow(-1px -1px white) drop-shadow(-1px 1px white)
                    drop-shadow(1px -1px white);
                z-index: 9;
            }

            .absolute {
                position: absolute;
                top: 32px;
                display: block;
                width: 100%;
                border: 1px dashed #826857;
            }

            nav a {
                display: block;
                text-align: right;
                color: #2e354c;
                font-size: 17px;
                      background: linear-gradient(90deg,rgba(176, 213, 242, 0) 0%, rgb(176, 213, 242) 60%);
            }

            nav a:hover {
                font-style: italic;
                background: linear-gradient(to left, rgb(217 238 245) 0%, rgba(251, 237, 239, 0) 100%);
            }

            .off:hover {
                font-style: italic;
                background: linear-gradient(to left, rgb(245, 234, 217) 0%, rgba(251, 237, 239, 0) 100%);
            }

            #calendar {
                display: flex;
                flex-wrap: wrap;
                background-color: rgba(212, 234, 203, 0.67);
                border-radius: 15px;
                width: 80%;
                justify-content: center;
                margin-top: 5px;
                padding: 4px;
                margin-bottom: 5px;
            }

            #calendar h1 {
                margin: 0px;
                text-align: center;
                font-size: 17px;
                color: #161d24;
            }

            table {
                width: 100%;
                border-right: none;
                border-spacing: 0;
                border-collapse: collapse;
            }

            td {
                width: 100%;
                box-sizing: border-box;
                border: 1px dotted #5d95a8;
                padding: 4px;
                text-align: center;
                transition: 0.15s;
                font-size: 13px;
            }

            td:hover,
            td:last-child:hover {
                cursor: default;
                background-color: #96d0c9;
                transition: 0.15s;
            }

            td.is-disabled {
                color: #677397;
            }

            td.today {
                background-color: #eefcff;
                color: var(--white);
            }

            tr:first-child td {
                color: #ffffff;
                background-color: #87b7a0;
            }

            .fanlistings {
                width: 80%;
                height: 11.9%;
                padding: 5px;
                overflow: auto;
                display: flex;
                flex-wrap: wrap;
            }

            .fanlistings a img {
                display: block;
                width: 100%;
            }

            .buttons2 {
                width: 95px;
                overflow: auto;
                height: 34.1%;
                background-color: rgba(171, 255, 254, 0.45);
                margin-top: 3px;
            }

            .buttons2 img {
                width: 88px;
                height: 31px;
                margin: 0 auto;
                display: block;
                margin-top: 2px;
            }

            .sakura {
                position: absolute;
                height: 42%;
                bottom: -1.4em;
                left: -3.5em;
                z-index: 1;
            }

            .sakura:hover {
                z-index: -1;
                transition: 0.5s;
            }

            .left:has(.buttons2:hover) .sakura,
            .left:has(.fanlistings:hover) .sakura {
                z-index: -1;
                transition: 0.5s;
            }

            header {
                background: url(/index/header.webp);
                width: 100%;
                height: 25%;
                background-size: cover;
                background-position: center;
                position: relative;
            }

            header h1 {
                position: absolute;
                font-size: 4em;
                bottom: -26px;
                color: #c2a994;
                filter: drop-shadow(1px 1px #564537) drop-shadow(-1px -1px #564537) drop-shadow(-1px 1px #564537)
                    drop-shadow(1px -1px #564537);
                z-index: 2;
            }

            .content {
                width: 100%;
                height: 75.5%;
                margin-top: 2px;
                display: flex;
                position: relative;
                gap: 3px;
            }

            .lside {
                height: 100%;
                width: 80%;
            }

            .rside {
                height: 100%;
                width: 120px;
                padding: 0.5em 0.5em 4em 0.5em;
                border-radius: 0 0 100px 100px;
                background: #9ce2de;
                overflow: auto;
            }

            .aboutme,
            main {
                border: 1px dashed #fdfffb;
                padding: 10px;
                margin: 10px auto;
                width: 98%;
            }

            main {
                background-color: #d0c998;
            }

            .aboutme {
                background-color: #b6d098;
                position: relative;
            }

            .text {
                padding: 5px;
                background-color: rgba(255, 244, 226, 0.5);
                color: #47300d;
            }

            .aboutme h1 {
                position: absolute;
                font-size: 2.5em;
                bottom: -20px;
                color: #94b8c2;
                filter: drop-shadow(1px 1px #fcffd2) drop-shadow(-1px -1px #fcffd2) drop-shadow(-1px 1px #fcffd2)
                    drop-shadow(1px -1px #fcffd2);
                z-index: 2;
            }

            .divider {
                width: 98%;
                margin: auto;
                display: block;
            }

            .recs {
                width: 98%;
                height: 32%;
                display: flex;
                margin: 10px auto;
                gap: 5px;
            }

            main img {
                margin-top: 10px;
            }

            main a {
                text-decoration: none;
            }

            .website,
            .song {
                width: 50%;
                background-color: #e7dbc2;
                padding: 10px 10px 0px 10px;
                position: relative;
            }

            .card {
                width: 100%;
                height: 90%;
            }

            .website h2,
            .song h2 {
                color: #242d43;
                position: absolute;
                bottom: -12px;
                font-size: 2em;
                left: 0;
                text-shadow: 2px 1px #ffffff;
            }

            .rside img {
                width: 100%;
                margin-bottom: 5px;
            }

            .chatbox {
                background-color: #8e7352;
                width: 200px;
                height: 45%;
                display: inline-block;
                border: 3px double black;
                position: absolute;
                bottom: 4em;
                right: -12.54em;
            }
