body {
    background: url(/index/bg.webp);
    background-size: cover;
    background-position: 0% 100%;
    background-attachment: fixed;
    font-family: Ovo;
}
.container {
    width: 1000px;
    height: 1000px;
    background-color: rgba(146, 118, 63, 0.5);
    margin: 0 auto;
    margin-top: 5em;
    margin-bottom: 1em;
}
.top {
    width: 100%;
    height: 23px;
    background: linear-gradient(to right, rgba(39, 67, 29, 0.4) 45%, rgba(198, 84, 0, 0.63));
    position: relative;
    border-bottom: 1px solid;
}
.in {
    color: white;
    animation: in 2.5s infinite;
    float: left;
    margin-right: 10px;
    margin-left: 5px;
}

.top p {
    float: right;
    margin: auto;
    color: white;
    font-style: italic;
    margin-right: 10px;
    margin-top: 3px;
}
@keyframes in {
    0% {
        scale: 100%;
    }
    50% {
        scale: 130%;
    }
    100% {
        scale: 100%;
    }
}

.first {
    width: 99%;
    padding: 5px;
    height: 30%;
    display: flex;
    gap: 5px;
    position: relative;
}
p {
    margin: 5px;
}
.main {
    width: 40%;
    height: 100%;
    background: radial-gradient(circle, rgba(170, 170, 170, 0.2) 0%, rgba(245, 253, 184, 0.4) 100%);
    background-size: cover;
    color: #213007;
    border: 1px ridge #465a76;
    outline: 1px dotted white;
    outline-offset: 1px;
    padding: 0.1px;
}
.nav {
    height: 100%;
    width: 20%;
}
h1 {
    margin: 0;
    font-family: Arizonia;
    font-size: 3em;
    color: #a4d2f4;
    text-align: right;
    text-shadow: 1px 2px #000000;
}
.nav a {
    display: block;
    color: #ffffff;
    text-decoration: none;
    font-style: italic;
    margin-bottom: 5px;
    padding: 2px;
    border-radius: 5px;
    background: linear-gradient(to right, rgba(119, 52, 52, 0.4) 0%, rgba(211, 139, 139, 0.17));
}
.christmas {
    width: 45%;
    background-image: url(/index/christmas.webp);
    height: 100%;
    padding: 0.1px;
}
.christmas2 {
    color: aliceblue;
    margin-top: 40px;
    margin-left: 5px;
    font-style: italic;
    text-shadow:
        -1px 0 #006800,
        0 1px #006800,
        1px 0 #006800,
        0 -1px #006800,
        0 0;
    color: #ffcd87;
    margin-bottom: 5px;
}
.left {
    width: 67%;
    padding: 5px;
    display: flex;
    gap: 5px;
    flex-direction: column;
}
.second {
    width: 100%;
    height: 36%;
    display: flex;
}
.secondg {
    width: 100%;
    height: 36%;
    display: flex;
    gap: 5px;
}
.nav a:nth-child(odd):hover {
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("/index/1.webp");
    background-color: #a57575;
    font-style: normal;
}
.nav a:nth-child(even):hover {
    background-repeat: no-repeat;
    background-position: right;
    background-image: url("/index/2.webp");
    background-color: #a57575;
    font-style: normal;
}
.tv {
    background: url(/index/music.webp);
    width: 39%;
    height: 306px;
    margin-top: -19px;
    background-size: cover;
    position: absolute;
    right: 0;
}
.music {
    width: 28%;
    margin: 0 auto;
    background-color: rgb(44, 41, 32);
    height: 67%;
    top: 46px;
    position: absolute;
    right: 60px;
}
@font-face {
    font-family: "Material Icons";
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v140/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format("woff2");
}

.material-icons {
    font-family: "Material Icons";
    font-weight: normal;
    font-size: 24px;
    line-height: 1;
    color: #476c40;
    /*background-color: #e2b593;*/
}

#aWrap {
    display: flex;
    flex-wrap: nowrap;
    align-items: center;
    width: 88%;
    padding: 2px 0px 3px 5px;
    background: #92b6b0;
    border: 2px solid #527b74;
    margin: 0 auto;
    margin-top: 10px;
    input[type="range"] {
        box-sizing: border-box;
        width: 35%;
        appearance: none;
        border: none;
        outline: none;
        box-shadow: none;
        text-align: center;
        padding: 0;
        margin: 0;
        background: 0;

        &::-webkit-slider-thumb {
            appearance: none;
        }
    }

    input[type="range"]::-webkit-slider-runnable-track {
        background: #cfe9ff;
    }

    input[type="range"]::-moz-range-track {
        background: #cfe9ff;
    }

    input[type="range"]::-webkit-slider-thumb {
        width: 14px;
        height: 10px;
        margin: 1px;
        border-radius: 50%;
        border: 1px solid #4e76c3;
        background: #f0ffc8;
    }

    input[type="range"]::-moz-range-thumb {
        width: 5px;
        height: 5px;
        border-radius: 50%;
        border: 2px solid #4e76c3;
        background: #f0ffc8;
    }
}

#aPlay {
    padding: 0;
    margin-top: 5px;
    border: 0;
    cursor: pointer;
    background-color: #c5eacd;
    &:hover {
        background-color: #a6e3b3;
    }
}

#aCron {
    margin: 0px 10px;
}

#aList {
    position: relative;
    width: 88%;
    overflow: scroll;
    color: #273b13;
    background: #e3e1a3;
    margin: 0 auto;
    padding: 5px;
    margin-top: 10px;
    word-break: break-word;
    height: 60%;
    box-shadow:
        0px 0px 5px inset rgb(253, 225, 147),
        0px 0px 2px inset rgb(191, 186, 111);
    overflow-x: hidden;
}

.aRow {
    word-wrap: break-word;
    display: block;
    cursor: pointer;
    padding: 1px;
    width: 95%;
    margin: 0 auto;

    &.now {
        color: #577948;
        background-color: #f9ffd8;
        border: 1px solid #5e809d;
        font-style: italic;
    }
}
.aRow:hover {
    background-color: rgba(212, 252, 0, 0.15);
    box-shadow:
        0px 0px 3px inset rgb(33, 79, 0),
        0px 0px 1px inset rgb(0, 0, 0);
    border: 0;
}
.wrap {
    width: 100%;
    height: 66.5%;
    display: flex;
    gap: 5px;
}
.right {
    width: 30%;
}
time {
    text-shadow:
        -1px 0 #006800,
        0 1px #006800,
        1px 0 #006800,
        0 -1px #006800,
        0 0;
    color: #e3ff87;
    font-size: 2.2em;
    margin-left: 5px;
    font-style: italic;
}
.ahh {
    text-shadow:
        -1px 0 #3ec8c3,
        0 1px #3ec8c3,
        1px 0 #3ec8c3,
        0 -1px #3ec8c3,
        0 0;
    color: #ffffff;
    font-size: 2.4em;
    text-align: center;
}
.imageaa {
    width: 52%;
    background: url(/index/laura.webp);
    height: 100%;
}
.buttons {
    border: double #c9be7f;
    width: 95px;
    background: url(/index/main.webp);
    overflow: auto;
}
.buttons img {
    width: 88px;
    height: 31px;
    margin: 0 auto;
    display: block;
    margin-top: 2px;
}
.buttonarea {
    width: 30%;
    display: flex;
    flex-direction: column;
}
.meb {
    width: 98.5%;
    background: url(/index/aaaa.webp);
    height: 40%;
    background-position: center;
    border: double;
}
.meb p {
    color: #5d381c;
}
.meb a {
    color: #5d381c;
}
.fanlistings {
    margin-top: 5px;
    width: 98%;
    height: 55%;
    background-color: #d6b57f;
    overflow: auto;
    border: double;
}
.fanlistings img {
    width: 23%;
    filter: sepia(80%);
}
.fanlistings img:hover {
    filter: sepia(0%);
}
#lastfm {
    background: url(/index/frame.webp);
    width: 30%;
    background-size: contain;
    height: 100%;
    padding: 1px;
}
#lastfmcontainer {
    background-color: rgba(255, 209, 121, 0.47);
    height: 77%;
    width: 73%;
    margin: 1.73em 0em 0em 1.57em;
    padding: 0.1px;
    overflow: auto;
}

.currently {
    background: radial-gradient(circle, rgb(230, 255, 214) 0%, rgb(255, 255, 255) 100%);
    width: 22.5%;
    overflow: auto;
}
.currently span {
    padding: 2px;
    margin-top: 5px;
    display: block;
    margin-bottom: 5px;
}
p:nth-of-type(4n + 1) span:first-child {
    background: linear-gradient(to right, rgb(255, 178, 178) 0%, rgba(245, 253, 184, 0) 100%);
}
p:nth-of-type(4n + 2) span:first-child {
    background: linear-gradient(to right, rgb(255, 205, 178) 0%, rgba(245, 253, 184, 0) 100%);
}
p:nth-of-type(4n + 3) span:first-child {
    background: linear-gradient(to right, rgb(255, 252, 178) 0%, rgba(245, 253, 184, 0) 100%);
}
p:nth-of-type(4n + 4) span:first-child {
    background: rgb(201, 255, 178);
}

.arh {
    width: 30%;
    background-color: #ffd2a4;
    height: 20%;
    border-radius: 5px;
    border: #3f4f47 1px solid;
    margin: 0 auto;
}
.tw {
    height: 100%;
    width: 24.5%;
    display: inline-block;
}
.chatbox {
    background-color: aliceblue;
    width: 98%;
    height: 50%;
    margin: 0 auto;
    display: block;
    border: 3px double black;
    margin-top: 5px;
}
.me {
    margin: 0 auto;
    margin-top: 5px;
    width: 96%;
    height: 30%;
    background-color: #fff4e2;
    padding: 5px;
    border: 1px solid #000000;
    display: flex;
}
.img {
    width: 30%;
    overflow: auto;
}
.img img {
    width: 100%;
}
.me p {
    width: 70%;
    height: 100%;
    overflow: auto;
}
.end {
    width: 100%;
    height: 5%;
    margin-top: 5px;
}
.end2 {
    width: 100%;
    height: 7%;
    margin-top: 5px;
}
