body {
    background: linear-gradient(180deg, #ede3b8, #d5ce97);
    height: 90.4vh;
}
.container {
    background: linear-gradient(180deg, #fffcf0, #fffad1);
    padding: 10px;
    height: 720px;
    max-width: 450px;
    margin: 0 auto;
    border: 1px solid #d0b073;
    outline: 1px dotted #302209;
    outline-offset: 1px;
    margin-top: 5em;
    position: relative;
}
.top {
    width: 100%;
    position: absolute;
    top: -4em;
    left: 0;
}
.bottom {
    width: 100%;
    position: absolute;
    bottom: -2.5em;
    left: 0;
}
.inner {
    width: 100%;
    height: 90%;
    margin-top: 1.5em;
    overflow: auto;
}
.entry {
    width: 90%;
    height: 20%;
    background: linear-gradient(180deg, #fff7d9, #ffeeb0);
    border: solid 1px #ffe19e;
    margin: 0 auto;
    color: #6f4c21;
    padding: 5px;
}
span img {
    height: 15px;
}
hr {
    border: dotted 1px #0076c1;
}
p {
    margin: 0;
}
